.passwordReset-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 200px 400px 10px;
}
.passwordReset-wrapper .form {
  padding: 50px;
}
.form h2 {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  .passwordReset-wrapper {
    flex-direction: column-reverse;
    padding: 150px 50px;
    gap: 50px;
  }
  .resetImg img {
    width: 350px;
  }
}
