.username {
  position: relative;
}

.username button {
  background-color: transparent;
  border: none;
  outline: none;
}
.down {
  rotate: 180deg;
}
.usernameBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.usernameBtn:hover {
  color: var(--orange);
}
.disconnectDiv {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  right: 0;
  padding: 10px;
  box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  -webkit-box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  -moz-box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  opacity: 0.5;
}
.username.mobile .disconnectDiv {
  opacity: 1;
  background-color: #fff;
  width: 265px;
  padding: 20px;
  top: 59px;
  right: -96px;
}
.disconnectDiv button {
  color: var(--dark-blue);
  font-weight: bold;
  font-size: 15px;
}
