.table {
  padding: 200px 0;
}
.table-wrapper {
  display: flex;
  align-items: end;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 400px;
  box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  -webkit-box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  -moz-box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  border-radius: 10px;
  padding: 20px;
}
.table-top {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
  width: 100%;
}
th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
td {
  padding: 15px;

  border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 1600px) {
  .table-wrapper {
    margin: 0 250px;
  }
}
@media screen and (max-width: 1400px) {
  .table-wrapper {
    margin: 0 100px;
  }
}
@media screen and (max-width: 1100px) {
  table {
    display: block;
    border-collapse: collapse;
    overflow-x: auto;
  }
}

@media screen and (max-width: 500px) {
  .table-wrapper {
    margin: 0 50px;
  }
}
