.howitwork {
  padding: 200px 0;
}
.howitwork-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 0 400px;
}
.howitwork-wrapper .title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.howitwork-wrapper .title h2 {
  font-size: 36px;
  color: var(--orange);
}
.stepsDiv {
  width: 100%;
}
.facile,
.step-title {
  font-size: 36px;
  color: var(--dark-blue);
}
.carousel-root .control-dots,
.carousel-status {
  display: none;
}
.carousel .control-arrow,
.carousel.carousel-slider button.control-arrow {
  top: 50%;
  height: 12%;
  background: rgba(0, 0, 0, 0.2);
}
.carousel-root {
  padding: 50px;
  box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  -webkit-box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  -moz-box-shadow: 6px 14px 34px -8px rgba(38, 114, 220, 0.65);
  border-radius: 10px;
}

.steps {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.stepsDiv img {
  max-width: 550px;
  max-height: 300px;
}
.stepsDiv .description {
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .howitwork-wrapper {
    margin: 0 100px;
  }
}
@media screen and (max-width: 500px) {
  .howitwork-wrapper {
    margin: 0 50px;
  }
  .carousel-root {
    padding: 10px;
  }
  .howitwork-wrapper .title h2,
  .facile,
  .step-title {
    font-size: 26px;
  }
}
